<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>The Blog</title>
        <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Blog.css"> 
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #0000ff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #0000ff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #ff0000;
    color: blue;
}

li a:hover:not(.active) {
    background-color: #ff0000;
    color: blue;
}
</style>
</head>
<body> 

         <header>
            <nav class="orange darken-1 left">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li class="orange darken-1"><a href="">post</a></li>
                    <li class="orange darken-1" ><a href="">post <span class="new badge">4</span></a></li>
                    <li class="orange darken-1"><a href="">post</a></li>
                    <li class="orange darken-1"><a href="index.html">Home</a></li>
                    <li class="orange darken-1"><a href="admin.html">Admin</a></li>
                    </ul>
                   
                </div>
            </nav>
         </header>
          <main>
              <div class="container">
                  <div class="row">
                      <h1 class="center-align">My Blog</h1>
                  </div>
                  <div class="row">
                      <div class="col s12 main-container"></div>
                  </div>
              </div>
              
          </main>
        <footer class="page-footer orange darken-1">
            <div class="container">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Sean
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/blog.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js
"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script class="right" id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="blog-post right">
            <h2 class="blog-post-title right">{{title}}</h2>
            <p class="blog-post-meta right">At {{format created}} by {{authorEmail}}</p>
            <div>{{content}}</div> 
            </div>
          {{/each}}
      </script>
    </body>
  </html>
        